#navegador{
    color: white;  
    background-color: rgb(41, 4, 41);
    border: 4mm ridge rgba(211, 220, 50, .6);
    font-size: 1.5em;
}
section {
    color: rgb(61, 0, 59);
    background-color: rgb(244, 198, 234);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.game{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 4mm ridge rgba(211, 220, 50, .6);
}
.contenedor{
        display: flex;
        justify-content: space-around;
        margin: 20px;
        margin-bottom: 70px;
}
.tablero-jugador{  
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}
.tablero-oponente{
    
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}
.celda{
    border: 1px solid #000;
    display: flex;
    height: 30px;
    width: 30px;
    background-color: #87CEFA;
    justify-content: center;
    align-items: center;
}
.final {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 0, 59);
    border: 4mm ridge rgba(211, 220, 50, .6);
}
h1 {
    display: flex;
    justify-content: center;
}