   .tablero{
        display: table;
        width: 10px;
    }
    .fila{
        display: table-row;
    }
    .celda{
        border: 1px solid #999999;
        display: table-cell;
        padding: 20px 20px;
        background-color: aquamarine;
    }
    .cuerpo{
        display: table-row-group;
    }